page-rest-page{

.card-rest {


  .button{

    padding: 15px 32px;
     border: none;
    background-color: #4CAF50; 
  }
  .ion-card {
    width: 50%;
   height: 50%;
    position: absolute;
  
  }

   
 

}


}